.smaller{
   margin-top: -8px;
    background-color: red;
    font-size: small;
}
.mainEntry{
   font-weight: bold;
}

.mainContent{
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: aqua;
}

.containerDiv{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: green;
}