.smaller{
   margin-top: -8px;
    background-color: red;
}

.mainContent{
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: aqua;
}

.containerDiv{
    margin-top: 30px;
    margin-bottom: 24px;
    background-color: green;
}